.homeContainer {
  max-width: 840px;
  margin: 0 auto;
  height: calc(100vh - 64px);
}

.companySearch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectBox {
  width: 90%;
}
