.container {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  color: black;
}

.title {
  line-height: 1;
  font-size: 48px;
  margin: 0;
}
