.singleAssetContainer {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.assetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.badgeSpace {
  margin-right: 8px;
}

.imageContainer {
  margin: 16px 0;
  display: flex;
}

.image {
  max-width: 576px;
  width: auto;
}

@media (max-width: 850px) {
  .image {
    height: auto;
    width: auto;
    max-width: calc(100vw - 64px);
    margin-bottom: 8px;
  }
  .imageContainer {
    display: block;
  }
}

.assetDetails {
  background-color: var(--light-base-color);
  padding: 16px;
  margin: auto;
  border-radius: 8px;
}

.assetDetails ul {
  padding: 0;
  list-style-type: none;
  margin: 0 16px 16px 0;
}

.assetDetails p {
  font-weight: bold;
  font-size: 18px;
}
