.unitsContainer {
  list-style-type: none;
  font-size: 18px;
  padding: 0;
}

.unitsName {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.unitsContainer li:last-child {
  margin-bottom: 0;
}
