.background {
  height: calc(100vh - 64px);
  margin-top: 64px;
}

.rectangle1 {
  position: fixed;
  top: 64px;
  width: 70%;
  height: 40%;
  margin-left: 5%;
  border-radius: 0 0 24px 24px;
  background-color: var(--lighter-base-color);
  z-index: -1;
}

.rectangle2 {
  position: fixed;
  top: calc(100vh - 15%);
  width: 70%;
  height: 15%;
  margin-left: 30%;
  border-radius: 24px 24px 0 0;
  background-color: var(--lighter-base-color);
  z-index: -1;
}
